
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
uv.lock

# Virtual environments
venv/
.env
.env.*

# Jupyter notebooks
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# LangChain / LangGraph / RAG
cache/
*.db
*.json
*.yaml
*.yml
vectorstore/
retriever_cache/
index/
*.faiss
*.bin
*.pkl
*.npy

# FAISS specific
*.index
*.hnsw
*.ivf
*.pq
*.meta

# FAISS vector store
faiss_index/
index.faiss
index.pkl


# Streamlit
#.streamlit/

# FastAPI / Uvicorn logs
*.log

# Docker
*.pid
*.pid.lock
docker-compose.override.yml

# Test coverage
htmlcov/
.coverage
coverage.xml
*.cover

# Pytest
.pytest_cache/

